<!DOCTYPE html>
<html ng-app='app'>
<head>
    <title>Angular Todo Chrome Extension</title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="lib/jquery/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="lib/jquery/jquery.timepicker.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body ng-controller='todoCtrl' height='500' width='300'>
    <div class='container'>
        <div class='row'>
            <div class='col-md-12'>
                <h5>{{ (todoList | filter: {completed:false}).length}} pending task(s)</h5>
                <form id='todo-form' ng-submit='save()'>
                    <div class="form-group">
                        <table>
                            <tr>
                                <td>{{taskId}}</td>
                                <td colspan="3"><input type='text' id='new-todo' ng-model='newContent' class="form-control" placeholder="What you need to do?"/></td>
                                <td><input type='text' id='new-todo-startDt' ng-model='newContentStartDt' class="form-control" placeholder="When to start?"/></td>
                                <td><input type='text' id='new-todo-endDt' ng-model='newContentEndDt' class="form-control" placeholder="When to end?"/></td>
                                <td><input type='submit' value="Save"></td>
                            </tr>
                        </table>
                    </div>
                </form>
            </div>
        </div>

        <div class='row' id="todo-list-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width:50%">Task</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Status</th>
                        <th>Created Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="todo in todoList track by todo.id | orderBy: 'startDt'">
                        <td><span class='todo-content'>{{todo.content}}</span></td>
                        <td><span class='todo-content'>{{todo.startDt}}</span></td>
                        <td><span class='todo-content'>{{todo.endDt}}</span></td>
                        <td><span class='todo-content'>{{todo.status}}</span></td>
                        <td><span class='todo-content'>{{todo.createdAt}}</span></td>
                        <td>
                            <input type='button' value="Edit" ng-click='edit(todo)' class="btn btn-sm"/>
                            <input type='button' value="Start" ng-click='startTask(todo)' class="btn btn-sm"/>
                            <input type='button' value="Pause" ng-click='pauseTask(todo)' class="btn btn-sm"/>
                            <input type='button' value="Complete" ng-click='toggleCompleted(todo)' class="btn btn-sm"/>
                            <a class='btn-remove-todo pull-right' ng-click='remove(todo)'><i class='glyphicon glyphicon-remove'></i> </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class='row'>
            <div class='col-md-12'>
                <div id='toolbar'>
                    <a id="btn-remove-all"
                        ng-click='removeAll()'
                        class='btn btn-small btn-default pull-right'
                        ng-show="todoList.length > 0">
                        <i class="glyphicon glyphicon-remove"></i> Clear all
                    </a>
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript" src="lib/jquery/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="lib/jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" src="lib/jquery/jquery.timepicker.min.js"></script>
    <script type="text/javascript" src="lib/angular/angular.js"></script>
    <script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/todoCtrl.js"></script>
    <script type="text/javascript" src="app/todoStorage.js"></script>
    <script type="text/javascript" src="app/appJquery.js"></script>
</body>
</html>